/* Imports*/
* {
  margin: 0;
  padding: 0; }

.heading {
  font-family: "Nunito", sans-serif;
  color: #2F2E41;
  font-weight: 700;
  font-size: 2.8em; }

.subheading-lg {
  font-family: "Nunito", sans-serif;
  color: #2F2E41;
  font-weight: 600;
  font-size: 2em; }

.subheading-sm {
  font-family: "Nunito", sans-serif;
  color: #2F2E41;
  font-weight: 400;
  font-size: 1.7em; }

h4 {
  font-family: "Crimson Text", serif;
  color: #2F2E41;
  font-weight: 600;
  font-size: 1.2em;
  font-style: normal;
  line-height: 120%;
  letter-spacing: .03em; }

h5 {
  font-family: "Nunito", sans-serif;
  color: #656F77;
  font-weight: 400;
  font-size: 0.90em;
  margin-top: 5%;
  margin-bottom: 1%;
  text-transform: uppercase;
  line-height: 1.55;
  letter-spacing: .08em; }

p {
  font-family: "Nunito", sans-serif;
  margin: 0 !important; }

.button {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border: 2px #2F2E41 solid;
  border-radius: 4px; }

.button_primary {
  font-family: "Nunito", sans-serif;
  position: relative;
  background-color: #2F2E41;
  color: #ffffff;
  transition: color 0.3s ease-in;
  z-index: 1; }
  .button_primary:hover {
    color: #A191FF;
    text-decoration: none; }

.button_secondary {
  position: relative;
  background-color: #ffffff;
  color: #2F2E41;
  transition: color 0.3s ease-in;
  z-index: 1; }
  .button_secondary:hover {
    color: #ffffff;
    text-decoration: none; }

.header_area {
  position: relative;
  height: 12vh;
  background: #ffffff;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999; }
  .navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none; }
    .navbar .navbar-toggler .menu-icon-bar {
      position: absolute;
      left: 15px;
      right: 15px;
      height: 3px;
      background-color: #2F2E41;
      opacity: 0;
      -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      transform: translateY(-1px);
      transition: all 0.3s ease-in; }
      .navbar .navbar-toggler .menu-icon-bar:first-child {
        opacity: 1;
        -webkit-transform: translateY(-1px) rotate(45deg);
        -ms-sform: translateY(-1px) rotate(45deg);
        transform: translateY(-1px) rotate(45deg); }
      .navbar .navbar-toggler .menu-icon-bar:last-child {
        opacity: 1;
        -webkit-transform: translateY(-1px) rotate(135deg);
        -ms-sform: translateY(-1px) rotate(135deg);
        transform: translateY(-1px) rotate(135deg); }
  .navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1; }
    .navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
      -webkit-transform: translateY(-7px) rotate(0);
      -ms-sform: translateY(-7px) rotate(0);
      transform: translateY(-7px) rotate(0); }
    .navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
      -webkit-transform: translateY(5px) rotate(0);
      -ms-sform: translateY(5px) rotate(0);
      transform: translateY(5px) rotate(0); }

.navbar-nav .nav_link {
  color: #2F2E41;
  font-family: "Nunito", sans-serif;
  padding: 20px;
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none; }
  .navbar-nav .nav_link:hover {
    color: #A191FF;
    font-weight: 700; }
  .navbar-nav .nav_link:focus {
    color: #2F2E41; }

.content {
  padding-top: 5%;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: center;
  z-index: 1; }

footer {
  margin-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%; }
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .social li {
      padding: 0 0.5rem;
      list-style: none; }
      footer .social li i {
        color: #2F2E41;
        font-size: 1.5rem; }
        footer .social li i:hover {
          color: #A191FF; }

.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }

.badge {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  right: 50%;
  top: 2%;
  background: #A191FF;
  text-align: center;
  border-radius: 20px;
  padding: 6px 10px; }

.project_card {
  display: inline-block;
  position: relative; }

/* Article */
article {
  text-align: left;
  display: grid;
  font-family: "Crimson Text", serif;
  color: #2F2E41;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr; }

article h1 {
  font-family: "Nunito", sans-serif;
  color: #2F2E41;
  font-weight: 700;
  font-size: 3em; }

article h3 {
  font-family: "Nunito", sans-serif;
  color: #2F2E41;
  font-weight: 600;
  font-size: 1.7;
  padding-top: 2%; }

@media screen and (max-width: 768px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 400px 10px 1fr 1fr; }
  article h1 {
    padding-top: 40px;
    margin-bottom: 0px; }
  article .aside {
    visibility: hidden; }
  figure img {
    width: 400px; } }

article * {
  grid-column: 4; }

article figure {
  text-align: center;
  grid-column: 1 / -1;
  margin: 20px 30px;
  margin-bottom: 50px; }

article .aside {
  grid-column: 5 / -1; }

blockquote {
  grid-column: 3 / span 2;
  margin-top: 10px;
  color: #656F77;
  border-left: 3px solid #A191FF;
  padding-left: 10px; }

article p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  letter-spacing: .01rem;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

article li {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  letter-spacing: .01rem;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.5em;
  letter-spacing: -.003em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.aside {
  margin: 30px 20px;
  color: #656F77;
  font-size: 1em; }

.rotate:hover {
  transform: rotateZ(180deg);
  transition: transform 1s;
  cursor: pointer; }

.button_primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1; }

.button_primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.button_secondary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #A191FF;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1; }

.button_secondary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.button_secondary--example::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1; }

.button_secondary--example:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.scale:hover {
  transform: scale(1.05);
  transition: transform 2s;
  cursor: pointer; }

@media screen and (min-width: 768px) {
  .navbar {
    padding: 14px 20px; } }

@media screen and (max-width: 768px) {
  .navbar {
    padding: 14px 20px; } }

input {
  outline: none;
  border: none; }
  input:focus {
    border: #A191FF 2px solid !important; }

textarea {
  outline: none;
  border: none; }
  textarea:focus {
    border: #A191FF 2px solid !important; }

/*//////////////////////////////////////////////////////////////////
  [ Contact 1 ]*/
.contact1 {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 130px 88px 148px; }

.container-contact1-form-btn {
  align-items: center; }

/*------------------------------------------------------------------
  [  ]*/
.contact1-pic {
  width: 296px; }

.contact1-pic img {
  max-width: 100%; }

/*------------------------------------------------------------------
  [  ]*/
.contact1-form {
  width: 400px; }

.contact1-form-title {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 2em;
  color: #2F2E41;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px; }

input.input1 {
  height: 50px;
  border-radius: 5px;
  padding: 0 12px; }

input.input1 + .shadow-input1 {
  border-radius: 5px; }

textarea.input1 {
  min-height: 150px;
  border-radius: 5px;
  padding: 12px 12px; }

textarea.input1 + .shadow-input1 {
  border-radius: 5px; }

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px; }

.input1 {
  display: block;
  width: 100%;
  border: #2F2E41 2px solid;
  background: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #2F2E41; }

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #EAF3F3; }

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards; }

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0; } }

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0; } }

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*------------------------------------------------------------------
  [ Responsive ]*/
@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%; }
  .contact1-form {
    width: 44%; } }

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px; }
  .contact1-pic {
    width: 35%; }
  .contact1-form {
    width: 55%; } }

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px; }
  .contact1-pic {
    display: none; }
  .contact1-form {
    width: 100%; } }

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px; } }

/*------------------------------------------------------------------
  [ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: "Nunito", sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

.about {
  text-align: left; }
  .about p {
    font-size: 1.2rem; }

.img-sandra {
  box-shadow: 12px 12px 0px 0px #A191FF;
  border-radius: 5px; }
