body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}


/* Nav bar Style */
.navbar .nav-link {
  color: #262526;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #afb2b7;
    text-decoration: none;
    font-weight: bold;
}

.navbar .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #262526;
    text-transform: uppercase;
    font-size: 2em;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #afb2b7;
    text-decoration: none;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #262526;
    font-size: 16px;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #afb2b7;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #262526;

}

.navbar.active .navbar-brand:hover,
.navbar.active .navbar-brand:focus {
    color: #afb2b7;

}



/* Change navbar styling on small viewports */
@media (max-width: 720px) {
    .navbar {
        background: none;
    }
}


h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #262526;
  padding-top: 56px;
}

p, ul {
  font-family: 'lato';
  color: #7f8084;
  line-height: 30px;
}

h2 {
  font-family: 'Montserrat semibold';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #7f8084;
  padding-top: 14px;
}

h5 {
  color: #7f8084;
  font-family: 'Montserrat semibold';

  text-transform: uppercase;

}

h6 {
  font-size: 18px;
  color: #262526;
  font-family: 'Montserrat semibold';



}

h3,
h4 {

}

a {
  color: #262526;
}

a:hover {
  color: #afb2b7;
  text-decoration: none;
}


.cool-link {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.2px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #262526;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    color: #afb2b7;
    background: #afb2b7;
    transition: width .3s;
}

.cool-link:hover::after {
    stroke-linecap: round;
    color: #afb2b7;
    width: 100%;
    //transition: width .3s;
}



.image1 {
  width: 320px;

}


blockquote {
  color: #262526;
  text-align: left;
  padding: 0 0 0 20px;
  border-left: 0.2em solid #afb2b7;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
  letter-spacing: -0.1px;
}

@media only screen and (max-width: 576px) {
  div.small-container {
    width: 400px;
    padding-top: 20px;
  }
.work-container {
    display: block;
  }
}

.article-container {
  width: 700px;
}


.container-fluid {
  padding: 0;
}

div.work-container {
  width: 100%;
  text-align: center;
  padding-top: 178px;

}

div.work-container-2 {
  width: 100%;
  padding-top: 178px;
  padding-bottom: 50px;
  text-align: center;

}

.box-home .table-cell {
    display: table-cell;
    vertical-align: middle;
}


.box-home {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
    background-size: cover;
	  vertical-align: middle;
    background-position: center center;
}

@media only screen and (max-width: 720px) {
  section.box-home {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
  }
}

.box-home .table-cell {
    display: table-cell;
    vertical-align: middle;
}



/* mouse effect */
.mouse {
    position: absolute;
    width: 30px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #d7d8da;
    -webkit-animation: Home 3s;
    animation: Home 3s;
}

.scroll {
    display: block;
    width: 4px;
    height: 4px;
    margin: 6px auto;
    border-radius: 2px;
    background: #d7d8da;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes Home {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes Home {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


ul.mapstr {
  list-style-type: circle;
}


/* Social network */
.social-network ul {
  list-style: none;
  padding-left: 0;
}

.social-network li {
  display: inline;
}

.social-network a {
  color: #D8D8D8;
  font-size: 18px
}


article h2 {
margin-top: 40px;
color: #262526;
}

article p, li {
  text-align: justify;
}


figure img {
margin-top: 50px;
}

figcaption {
  margin-bottom: 50px;
  font-size: 15px;
}

footer {
    margin: 0 0 0 0;
    text-align: center;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
}

footer p {
  color: #262526;
  font-size: 18px;
}

.copyright {
  margin-top: 20px;
  font-size: 16px;
  color: #7f8084;
}



/* button*/
.btn-outline {
  color: #03738C;
  border: 2px solid;
  border-color: #03738C;
}


.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #03738C;
  background-color: #03738C;
}

.btn {

  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 300px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 14px;
  padding: 10px 30px;
}




header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: white;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}


header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 0 0;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 120px;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .date,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-weight: 400;
  margin: 10px 0 30px;
}

header.masthead .post-heading .date {
  font-size: 18px;
  font-weight: 300;
  color: white;
}


@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .article-container {
    width: 450px;
  }
}


p.statement {
  color: #F2A46C;
}

#biography {
  display: flex;
  align-items: center;
}

.-container {
        text-align: center;
        display: block;
      }



.main-small {
background-color: #d7d8da;
      }

.main-small-2 {
  background-color: #f3f3f3;
            }

hr {
  margin-top: 70px;
  width:10%;
  border: 3px solid #25325D;
}

hr.right {
  margin-top: 70px;
  width:10%;
  border: 3px solid #25325D;
}



img.sandra {
  width:230px;
}

div.about-container {
  width: 700px;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

@media only screen and (max-width: 576px) {
  div.about-container {
    width: 450px;
  }
}
