body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}


/* Nav bar Style */
.navbar .nav-link {
  color: #262526;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #afb2b7;
    text-decoration: none;
    font-weight: bold;
}

.navbar .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #32393D;
    text-transform: uppercase;
    font-size: 2em;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #afb2b7;
    text-decoration: none;
}


/* Change navbar styling on scroll */
/* /shadow rectangule .navbar.active {
    background: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

*/

.navbar.active .nav-link {
    color: #262526;
    font-size: 16px;
}

.navbar.active .nav-link:hover{
    color: #afb2b7;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #262526;

}

.navbar.active .navbar-brand:hover,
.navbar.active .navbar-brand:focus {
    color: #afb2b7;

}


nav button {
  display: flex;
  align-items: center;
  width: 18px;
}


/* Change navbar styling on small viewports (hidden)
@media (max-width: 720px) {
    .navbar {
        background: none;
    }
}

*/

h1 {
  font-family: 'poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #2EBFD9;
  padding-top: 40px;
}

p, ul {
  font-family: 'lato';
  color: #7f8084;
  line-height: 30px;
}

h2 {
  font-family: 'Montserrat semibold';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #7f8084;
  padding-top: 14px;
}

h5 {
  color: #7f8084;
  font-family: 'Montserrat semibold';

  text-transform: uppercase;

}

h6 {
  font-size: 18px;
  color: #262526;
  font-family: 'Montserrat semibold';



}

h3,
h4 {

}

a {
  color: #47525D;
}

a:hover {
  color: #2EBFD9;
  text-decoration: none;
}

a.link:hover
{
  color: #47525D;
  text-decoration: none;
}

.cool-link {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.2px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #47525D;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    color: #47525D;
    background: #47525D ;
    transition: width .3s;
}

.cool-link:hover::after {
    stroke-linecap: round;
    color: #47525D;
    width: 100%;
    //transition: width .3s;
}


.cool-link-about {
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  letter-spacing: 0px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat semibold';
  font-style: normal;
  font-size: 18px;
  color: #47525D;
}

.cool-link-about::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    color: #2EBFD9;
    background: #2EBFD9;
    transition: width .3s;
}

.cool-link-about:hover::after {
    stroke-linecap: round;
    color: #2EBFD9;
    width: 100%;
    //transition: width .3s;
}




.image1 {
  width: 300px;
  margin-bottom:30px;
}

.image2 {
  margin-top: 70px;
  width: 200px;
}


blockquote {
  color: #262526;
  text-align: left;
  padding: 0 0 0 20px;
  border-left: 0.2em solid #afb2b7;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
  letter-spacing: -0.1px;
}

@media only screen and (max-width: 576px) {
  div.small-container {
    width: 400px;
  }

  @media only screen and (max-width: 576px) {
    div.cool-link-about {

        text-align: center;
        margin-top: 10px;
        margin-right: 50px;
        margin-left: 50px;
        letter-spacing: 0px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Montserrat semibold';
        font-style: normal;
        font-size: 18px;
        color: #47525D;
      }


    }

.work-container {
    display: block;
  }
}

.article-container {
  width: 700px;
}


.container-fluid {
  padding: 0;
}

div.work-container {
  width: 100%;
  text-align: center;
  padding-top: 178px;

}

div.work-container-2 {
  width: 100%;
  padding-top: 178px;
  padding-bottom: 50px;
  text-align: center;

}

.box-home .table-cell {
    display: table-cell;
    vertical-align: middle;
}


.box-home {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
    background-size: cover;
	  vertical-align: middle;
    background-position: center center;
}

@media only screen and (max-width: 720px) {
  section.box-home {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
  }
}

.box-home .table-cell {
    display: table-cell;
    vertical-align: middle;
}



/* mouse effect */
.mouse {

  margin-top: 30px;
    position: absolute;
    width: 30px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #d7d8da;
    -webkit-animation: Home 3s;
    animation: Home 3s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 2px;
    background: #d7d8da;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes Home {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes Home {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@media (max-width: 576px) {
.mouse {
display: none;
}
}



ul.circle {
  list-style-type: circle;
}


/* Social network */
.social-network ul {
  list-style: none;
  padding-left: 0;
}

.social-network li {
  display: inline;
}

.social-network a {
  color: #D8D8D8;
  font-size: 18px
}


article h2 {
margin-top: 40px;
color: #262526;
}

article p, li {
  text-align: justify;
}


figure img {
margin-top: 50px;
}

figcaption {
  margin-bottom: 50px;
  font-size: 15px;
}

footer {
    margin: 0 0 0 0;
    text-align: center;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
  color: #47525D;
  font-size: 18px;
}


.copyright {
  margin-top: 20px;
  font-size: 16px;
  color: #7f8084;
}



/* button*/
.btn-outline {
  color: #262526;
  border: 2px solid;
  border-color: #262526;
}



.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #262526;
  background-color: #262526;
}

.btn {

  text-align: center;
  margin-top: 20px;
  border-radius: 300px;
  letter-spacing: 0.2px;
  padding-right: 15px;
  padding-left: 15px;
}




header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: white;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}


header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 150px 0 0 0;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 120px;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}


header.masthead .post-heading h2 {
  padding-top: 20px;
  color: #262526;
  font-size: 24px;
  font-family: 'Montserrat-semibold';
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}


header.masthead .post-heading h3 {
  padding-top: 5px;
  color: #7f8084;
  font-size: 20px;
  font-family: 'Montserrat';
}


header.masthead .post-heading .date,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-weight: 400;
  margin: 10px 0 30px;
}

header.masthead .post-heading .date {
  font-size: 16px;
  font-family: 'Montserrat'
  color: red;
}


@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .article-container {
    width: 450px;
  }
}


p.statement {
  color: #F2A46C;
}

.biography {
  display: flex;
  align-items: center;
}

.container {
        text-align: center;
        display: block;
      }

.main {
  padding-top: 20px;
}


.main-small {
background-color: #d7d8da;
float: right;
      }

.main-small-2 {
  background-color: #f3f3f3;
  float: right;

            }

hr {
  margin-top: 70px;
  width:10%;
  border: 3px solid #262526;
}

hr.right {
  margin-top: 70px;
  width:10%;
  border: 3px solid #262526;
}



img.sandra {
  width:300px;
}

div.about-container {
  width: 700px;
  align-items: center;
  text-align: justify;
  padding-top: 30px;

}

.about-container p {
  text-align: justify;
  spacing: 0
}

h1#about {
  color: #262526;
  font-size: 24px;
  font-family: 'Montserrat-semibold';
  padding-bottom: 0px;
  margin-bottom: 0px;
  letter-spacing: -0.5px;
  line-height: 29.25px;

}
h3#about {
  text-align: center;
  color: #47525D;
  font-size:20px;
  font-style: normal;
  padding-top: 0px;
  margin-top: 0px;
  letter-spacing: normal;
  line-height: 29.50px;


}

@media only screen and (max-width: 576px) {
  div#readee {
    display: flex;
    flex-direction: column-reverse;
  }
}


@media only screen and (max-width: 576px) {
  div.about-container {
    width: 450px;
  }
}





div.experience-container {
  width: 100%;
  align-items: left;
  text-align: justify;
  padding-top: 50px;

}

.experience-container p {
  text-align: justify;
  spacing: 0
}

h1#experience {
  padding-top: 20px;
  color: #262526;
  font-size: 24px;
  font-family: 'Montserrat-semibold';
  padding-bottom: 0px;
  margin-bottom: 0px;
}
p#experience {
  color: #7f8084;
  font-size:20px;
  padding-top: 10px;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0;
  padding-bottom: 0;
  letter-spacing: normal;
  font-weight: bold;
  line-height: 29.50px;
}

h6.details {
  padding-top: 0px;
  text-align: left;
  font-weight: lighter;
}

@media only screen and (max-width: 576px) {
  div.experience-container {
    width: 450px;
  }
}
